*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

img {
  max-width: 100%;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

[hidden] {
  display: none;
}

:root {
  --color-primary: #0D6A8C;
  --color-secondary: #5AAB46;
  --color-secondary-dark: #0D6A30;
  --color-gray: #707070;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

main {
  position: relative;
  top: 600px;
  z-index: 2;
  background-color: #F7F7F7;
}
@media (min-width: 640px) {
  main {
    top: 700px;
  }
}
@media (min-width: 800px) {
  main {
    top: 100vh;
  }
}

.container {
  display: block;
  width: calc(100% - 40px);
  max-width: 1160px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .container {
    width: calc(100% - 32px);
  }
}

.section {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}
@media (min-width: 800px) {
  .section {
    padding: 80px 0;
  }
}

.section-title {
  font-size: 27px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.section-title::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 180px;
  height: 6px;
  background-color: #000;
}
@media (min-width: 600px) {
  .section-title {
    margin-top: 16px;
    font-size: 40px;
  }
}

.input-float {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
.input-float span {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  padding: 0 4px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--color-gray);
  pointer-events: none;
  transition: all 150ms linear;
}
.input-float input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-primary);
}
.input-float input:focus {
  border-color: var(--color-secondary);
}
.input-float input:focus + span {
  color: var(--color-secondary);
}
.input-float input:focus + span, .input-float input.focused + span {
  top: 0;
  font-size: 14px;
  background-color: #FFFFFF;
}

.icon-success {
  text-align: center;
}
.icon-success svg {
  transform: scale(1.3);
}
.icon-success p {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #8EC343;
  animation: title 0.6s ease-in-out backwards;
  animation-delay: 1.3s;
}

.icon-success svg path {
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation-delay: 1s;
}

.icon-success svg circle {
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fixed-whatsapp {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.fixed-whatsapp a {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #14A944;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: all 250ms linear;
  margin-right: -8px;
}
.fixed-whatsapp a:hover {
  background-color: var(--color-secondary-dark);
}
.fixed-whatsapp a svg {
  width: 30px;
  height: 30px;
}
.fixed-whatsapp a span {
  display: none;
  margin-left: 8px;
}
@media (min-width: 800px) {
  .fixed-whatsapp a {
    margin-right: 0;
  }
  .fixed-whatsapp a span {
    display: inline;
  }
}

.button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--color-secondary);
  border-radius: 50px;
  transition: all 250ms linear;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 350ms linear;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}
.button:hover::before {
  transform: translateX(0);
}
@media (min-width: 600px) {
  .button {
    width: 370px;
    padding: 16px 24px;
    font-size: 17px;
  }
}

.box-border {
  position: relative;
  display: block;
  max-width: 1060px;
  margin: 0 auto;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  text-align: center;
}
.box-border + .box-border {
  margin-top: 80px;
}
.box-border .box-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: calc(100% - 32px);
  background: #FFFFFF;
  padding: 8px;
  line-height: 1.2;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
}
@media (min-width: 620px) {
  .box-border .box-title {
    min-width: 350px;
    padding: 8px 16px;
    font-size: 20px;
    white-space: nowrap;
  }
}

.section-welcome {
  position: relative;
  display: block;
  padding: 0;
  background: url("/background_desk.11368456.png") no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #FFFFFF;
  line-height: 0;
  z-index: 1;
}
@media (min-width: 800px) {
  .section-welcome::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("/background_desk-after.f3ea94d4.png") no-repeat;
    background-size: auto 100%;
    background-position: -11vw bottom;
    z-index: -1;
  }
}
@media (min-width: 800px) and (min-width: 1000px) {
  .section-welcome::after {
    background-position: left bottom;
  }
}
.section-welcome .container {
  position: relative;
}
@media (min-width: 800px) {
  .section-welcome .container {
    height: 100vh;
  }
}
.section-welcome .content {
  display: flex;
  justify-content: center;
  height: 100%;
}
.section-welcome .logo {
  max-width: 200px;
}
.section-welcome .title {
  display: block;
  margin-top: 8px;
  font-size: 20px;
}
.section-welcome .col {
  display: flex;
  z-index: 2;
}
.section-welcome .col:first-child {
  display: none;
  align-items: flex-end;
}
.section-welcome .col:first-child img {
  width: 90%;
}
.section-welcome .col:last-child {
  padding: 52px 0 102px 0;
  flex-direction: column;
  justify-content: space-between;
  max-width: 480px;
  text-align: center;
  line-height: 1.2;
  padding: 52px 0 0 0;
}
.section-welcome .col:last-child .persona {
  margin-top: 40px;
  margin-bottom: -5px;
}
.section-welcome form {
  display: none;
  margin-top: 30px;
}
.section-welcome form span {
  color: #FFFFFF;
  border-radius: 8px;
}
.section-welcome form input {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background: transparent;
}
.section-welcome form input:focus {
  border-color: #FFFFFF;
}
.section-welcome form input:focus + span, .section-welcome form input.focused + span {
  padding: 2px 10px;
  font-size: 12px;
  color: var(--color-gray);
}
.section-welcome form.loading {
  opacity: 0.5;
  pointer-events: none;
}
.section-welcome form .icon-success {
  margin-top: 80px;
}
.section-welcome form .icon-success svg g {
  stroke: #FFFFFF;
}
.section-welcome form .icon-success p {
  color: #FFFFFF;
}
.section-welcome .button {
  margin-top: 8px;
  width: 100%;
  background-color: #FDBD28;
  color: #064B22;
}
.section-welcome .seal {
  position: absolute;
  left: -8px;
  bottom: 0;
  z-index: 2;
}
.section-welcome .seal img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90px;
}
@media (min-width: 345px) {
  .section-welcome .seal img {
    width: 120px;
  }
}
@media (min-width: 490px) {
  .section-welcome .seal img {
    width: 140px;
  }
}
.section-welcome .seal span {
  display: block;
  margin-left: 8px;
  padding: 13px 12px;
  padding-left: 86px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 0 4px;
  color: #F39208;
  background-color: #FFFFFF;
  white-space: nowrap;
}
@media (min-width: 345px) {
  .section-welcome .seal span {
    padding: 16px 12px;
    padding-left: 116px;
    font-size: 13px;
  }
}
@media (min-width: 490px) {
  .section-welcome .seal span {
    padding: 20px;
    padding-left: 136px;
    margin-left: 16px;
    font-size: 20px;
    border-radius: 0 8px;
  }
}
@media (min-width: 640px) {
  .section-welcome .logo {
    max-width: 300px;
  }
  .section-welcome .title {
    font-size: 28px;
  }
}
@media (min-width: 800px) {
  .section-welcome::before,
.section-welcome .persona {
    display: none;
  }
  .section-welcome .content {
    justify-content: space-between;
  }
  .section-welcome .logo {
    margin-left: -8px;
  }
  .section-welcome .col:first-child {
    display: flex;
    justify-content: flex-end;
  }
  .section-welcome .col:last-child {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .section-welcome form {
    display: block;
  }
}
@media (min-width: 1000px) {
  .section-welcome .logo {
    max-width: 400px;
  }
}

@media (min-width: 800px) {
  .section-form-mobile {
    display: none;
  }
}
.section-form-mobile .container {
  max-width: 400px;
}
.section-form-mobile .title {
  display: block;
  margin-bottom: 24px;
  font-size: 19px;
  text-align: center;
  color: var(--color-primary);
}
.section-form-mobile form.loading {
  opacity: 0.5;
  pointer-events: none;
}
.section-form-mobile form .icon-success {
  margin-top: 40px;
}
.section-form-mobile .button {
  width: 100%;
  margin-top: 16px;
  background-color: #FDBD28;
  color: #064B22;
}

.section-benefits {
  background-image: url("/background-benefits.fee9ad99.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
}
.section-benefits .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.section-benefits .head h2 {
  font-size: 26px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding: 0 0 16px;
}
.section-benefits .head img {
  max-width: 70%;
}
@media (min-width: 650px) {
  .section-benefits .head {
    flex-direction: row;
  }
  .section-benefits .head h2 {
    text-align: right;
    font-size: 32px;
    padding: 0 32px 0 0;
  }
}
@media (min-width: 800px) {
  .section-benefits .head h2 {
    font-size: 48px;
    padding: 0 48px 0 0;
  }
}
.section-benefits .list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .section-benefits .list ul {
    flex-direction: row;
  }
}
.section-benefits .list ul li {
  width: 100%;
}
@media (min-width: 600px) {
  .section-benefits .list ul li {
    width: calc(100% / 2);
  }
}
.section-benefits .list li {
  position: relative;
  padding: 16px;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 850px) {
  .section-benefits .list li {
    padding-left: 104px;
    margin-bottom: 0;
    text-align: left;
  }
}
.section-benefits .list img {
  margin-bottom: 8px;
}
@media (min-width: 850px) {
  .section-benefits .list img {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 70px;
  }
}
.section-benefits .list strong {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 900;
}
.section-benefits .list p {
  font-size: 17px;
}
.section-benefits .list p b {
  font-weight: 700;
}

.section-step {
  text-align: center;
}
.section-step .section-title {
  color: var(--color-primary);
}
.section-step .section-title::after {
  background-color: var(--color-secondary);
}
.section-step ul {
  display: block;
  margin: 40px auto;
  padding: 0 8px;
}
.section-step ul li {
  display: block;
  text-align: left;
}
.section-step ul li > div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
@media (max-width: 700px) {
  .section-step ul li > div {
    width: 100%;
  }
}
.section-step ul li > div::before {
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
}
.section-step ul li > div .arrow {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(130%);
  display: none;
  width: 90px;
  height: 70px;
  background-image: url("/arrow-down-right.f9a8bf32.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section-step ul li .text {
  display: block;
  max-width: 480px;
  text-align: center;
}
.section-step ul li .text strong {
  display: block;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 8px;
}
.section-step ul li .text p {
  font-size: 18px;
}
.section-step ul li + li {
  margin-top: 48px;
}
.section-step ul li:nth-child(even) {
  text-align: right;
}
.section-step ul li:nth-child(even) .arrow {
  left: 0;
  transform: translateX(-130%);
  background-image: url("/arrow-down-left.96b305ff.png");
}
.section-step ul li:last-child .arrow {
  display: none;
}
.section-step ul li:nth-child(1) > div::before {
  background-image: url("/number-1.95621293.png");
}
.section-step ul li:nth-child(2) > div::before {
  background-image: url("/number-2.9e6efdc4.png");
}
.section-step ul li:nth-child(3) > div::before {
  background-image: url("/number-3.dc27601f.png");
}
.section-step ul li:nth-child(4) > div::before {
  background-image: url("/number-4.9d6bda40.png");
}
@media (min-width: 600px) {
  .section-step ul {
    padding: 0 24px;
  }
  .section-step ul li .arrow {
    display: block;
  }
  .section-step ul li .text strong {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .section-step ul li .text p {
    font-size: 18px;
  }
}
@media (min-width: 860px) {
  .section-step ul {
    padding: 0 40px;
  }
  .section-step ul li > div {
    flex-direction: row;
  }
  .section-step ul li > div::before {
    width: 120px;
    height: 112px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .section-step ul li > div .arrow {
    display: block;
  }
  .section-step ul li .text {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .section-step ul {
    padding: 0 80px;
  }
}

.section-shopping {
  position: relative;
  padding-bottom: 0;
  z-index: 1;
}
.section-shopping::before {
  content: "";
  display: block;
  width: 100%;
  height: 495px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/background_desk.11368456.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.section-shopping .container {
  max-width: 1100px;
}
.section-shopping .section-title {
  color: #FFFFFF;
}
.section-shopping .section-title::after {
  background-color: #FFFFFF;
}
.section-shopping .section-subtitle {
  display: block;
  margin: 16px auto 0;
  max-width: 300px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
.section-shopping .carousel {
  position: relative;
  margin-top: 40px;
}
@media (min-width: 800px) {
  .section-shopping .carousel {
    margin-top: 80px;
  }
}
.section-shopping .carousel-list {
  padding: 0 0 16px;
}
.section-shopping .carousel-buttons button {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.section-shopping .carousel-buttons button.prev {
  left: -60px;
}
.section-shopping .carousel-buttons button.prev svg {
  margin-left: -4px;
}
.section-shopping .carousel-buttons button.next {
  right: -60px;
}
.section-shopping .carousel-buttons button.next svg {
  margin-right: -4px;
}
.section-shopping .carousel-item {
  display: block;
  margin: 0 16px;
  height: 100%;
  background-color: #F1F1F1;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #D2D2D2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.section-shopping .carousel-item .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-bottom: 8px;
}
.section-shopping .carousel-item .logo img {
  height: auto;
}
.section-shopping .carousel-item .logo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 26px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--color-gray);
  opacity: 0.3;
}
.section-shopping .carousel-item p {
  display: block;
  min-height: 190px;
  margin-bottom: 24px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: var(--color-gray);
}
.section-shopping .carousel-gallery {
  position: relative;
}
.section-shopping .carousel-gallery-list {
  height: 260px;
  line-height: 0;
}
.section-shopping .carousel-gallery-list div {
  height: 100%;
}
.section-shopping .carousel-gallery-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-shopping .carousel-gallery-buttons {
  position: absolute;
  left: 0;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-shopping .carousel-gallery-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.section-shopping .carousel-gallery-buttons button svg {
  width: 40%;
}
@media (max-width: 670px) {
  .section-shopping .carousel {
    display: flex;
    padding-bottom: 20px;
  }
  .section-shopping .carousel-buttons {
    display: none;
  }
}

@media (max-width: 500px) {
  .section-boxes {
    padding-top: 60px;
  }
}
.section-boxes .infra-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px 16px 16px;
}
@media (min-width: 700px) {
  .section-boxes .infra-list {
    padding: 48px 40px;
  }
}
.section-boxes .infra-list li {
  display: flex;
  align-items: center;
  width: calc(100% / 2);
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-gray);
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  max-width: 140px;
}
@media (min-width: 800px) {
  .section-boxes .infra-list li {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
    width: calc(100% / 4);
  }
}
.section-boxes .infra-list li span {
  width: 37px;
  margin: 0 0 8px;
}
@media (min-width: 800px) {
  .section-boxes .infra-list li span {
    width: 50px;
    margin: 0 16px 0 0;
  }
}
.section-boxes .infra-list li span svg {
  max-width: 100%;
}
.section-boxes .partners-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 48px 16px 16px;
}
@media (min-width: 700px) {
  .section-boxes .partners-list {
    padding: 48px 56px;
  }
}
.section-boxes .partners-list span {
  display: inline-block;
  background: url("/logos-partners.d022784c.png") no-repeat;
  width: 80px;
  height: 60px;
  margin: 8px;
  font-size: 0;
}
.section-boxes .partners-list span.partner-1 {
  background-position: 6px 0;
}
.section-boxes .partners-list span.partner-2 {
  background-position: -94px 0;
}
.section-boxes .partners-list span.partner-3 {
  background-position: -193px 0;
}
.section-boxes .partners-list span.partner-4 {
  background-position: -290px 0;
}
.section-boxes .partners-list span.partner-5 {
  background-position: -390px 3px;
}
.section-boxes .partners-list span.partner-6 {
  background-position: -488px 2px;
}
.section-boxes .partners-list span.partner-7 {
  background-position: -588px 2px;
}
.section-boxes .partners-list span.partner-8 {
  background-position: -687px 6px;
}
.section-boxes .partners-list span.partner-9 {
  background-position: 5px -58px;
}
.section-boxes .partners-list span.partner-10 {
  background-position: -94px -62px;
}
.section-boxes .partners-list span.partner-11 {
  background-position: -193px -55px;
}
.section-boxes .partners-list span.partner-12 {
  background-position: -291px -57px;
}
.section-boxes .partners-list span.partner-13 {
  background-position: -390px -58px;
}
.section-boxes .partners-list span.partner-14 {
  background-position: -488px -60px;
}
.section-boxes .partners-list span.partner-15 {
  background-position: -587px -58px;
}
.section-boxes .partners-list span.partner-16 {
  width: 88px;
  background-position: -680px -58px;
}

.section-form {
  padding: 24px 0 40px;
}
.section-form .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-form .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
.section-form .title {
  margin-top: 16px;
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--color-primary);
}
.section-form .subtitle {
  padding-top: 8px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: var(--color-secondary);
}
.section-form form {
  position: relative;
  margin-top: 40px;
}
.section-form form button {
  margin-top: 8px;
  float: right;
  width: 100%;
}
.section-form form input {
  background: transparent;
}
.section-form form input:focus + span, .section-form form input.focused + span {
  background-color: #FFFFFF;
}
.section-form form.loading {
  opacity: 0.5;
  pointer-events: none;
}
.section-form form .icon-success {
  margin-top: 40px;
}
@media (min-width: 800px) {
  .section-form {
    padding: 40px 0;
  }
  .section-form .content {
    flex-direction: row;
    justify-content: center;
  }
  .section-form .col {
    width: 50%;
    max-width: max-content;
  }
  .section-form .col:last-child {
    width: 45%;
    max-width: 480px;
  }
  .section-form .title {
    font-size: 48px;
    text-align: left;
  }
  .section-form .subtitle {
    font-size: 20px;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .section-form .col:first-child {
    transform: translateX(-100px);
  }
  .section-form .col:last-child {
    width: 40%;
  }
}

.footer {
  position: relative;
  padding: 48px 0 0;
  z-index: -1;
}
.footer .container {
  max-width: 1000px;
}
.footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  .footer .content {
    flex-direction: row;
    align-items: normal;
  }
}
.footer .logo {
  max-width: 220px;
  margin-bottom: 24px;
}
@media (min-width: 900px) {
  .footer .logo {
    max-width: 100%;
    margin-bottom: 0;
  }
}
.footer .address {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  margin: 0 40px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.footer .address address {
  font-style: normal;
  font-size: 17px;
  width: 100%;
  margin-bottom: 24px;
}
.footer .address address strong {
  display: block;
  margin-bottom: 4px;
}
@media (min-width: 500px) {
  .footer .address {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .footer .address address {
    width: calc(50% - 16px);
  }
}
@media (min-width: 900px) {
  .footer .address {
    align-items: flex-start;
    width: 50%;
  }
}
.footer .social {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(2, 50px);
}
@media (min-width: 500px) {
  .footer .social {
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: none;
  }
}
@media (min-width: 900px) {
  .footer .social {
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(2, 40px);
  }
}
.footer .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  transition: all 250ms linear;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
@media (min-width: 900px) {
  .footer .social a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}
.footer .social a:hover {
  opacity: 0.5;
}
.footer .social a svg {
  max-height: 60%;
}
.footer .copyright {
  display: block;
  margin-top: 48px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  background-color: #005371;
  color: #FFFFFF;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  z-index: -1;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 0;
  display: block;
  width: 100%;
  height: 1500px;
  background: url("/background-footer.1a9345fa.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom right;
  z-index: -2;
}
.footer ~ img {
  position: absolute;
  bottom: 0;
}

/*# sourceMappingURL=/styles.5c8f3eab.css.map */